/* Reset CSS */
body {
    margin: 0;
    margin-top: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    height: 5000px;
}


.navbar{
    margin-top: 0 ;
    width: max-content;
    margin-top: 0; 
    object-fit: contain;
}


.onda-top1{
    position: relative;
}

.onda-top2{
    position: absolute;
}

footer {
    position: relative;
    bottom:0;
    left:0;
}

